.idea/*
!.idea/libraries
!.idea/inspectionProfiles
!.idea/copyright
!.idea/.name
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/jsLibraryMappings.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vagrant.xml
!.idea/watcherTasks.xml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml

todo*
node_modules/
**/demo/bundle.*
**/demo/assets
*.njsproj
obj/
.vs
.sln
.ntvs_*
.DS_Store
.iml
.log*
npm-debug.log

build/*
!build/.gitkeep

package-lock.json